.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.orange{
	color: orange;
}

.yellow{
	color: yellow;
}

.pink{
	color: pink;
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

.times{
	font-family: times new roman;
}

.georgia{
	font-family: georgia;
}